.ui-alt-icon.ui-icon-trash:after,
.ui-alt-icon .ui-icon-trash:after {
  border-radius: 0;
  background-image : url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik02IDE5YzAgMS4xLjkgMiAyIDJoOGMxLjEgMCAyLS45IDItMnYtMTJoLTEydjEyem0xMy0xNWgtMy41bC0xLTFoLTVsLTEgMWgtMy41djJoMTR2LTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0aC0yNHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==');
}

.ui-alt-icon.ui-icon-share:after,
.ui-alt-icon .ui-icon-share:after {
  border-radius: 0;
  background-image : url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRoLTI0eiIgZmlsbD0ibm9uZSIvPgogICAgPHBhdGggZD0iTTE4IDE2LjA4Yy0uNzYgMC0xLjQ0LjMtMS45Ni43N2wtNy4xMy00LjE1Yy4wNS0uMjMuMDktLjQ2LjA5LS43cy0uMDQtLjQ3LS4wOS0uN2w3LjA1LTQuMTFjLjU0LjUgMS4yNS44MSAyLjA0LjgxIDEuNjYgMCAzLTEuMzQgMy0zcy0xLjM0LTMtMy0zLTMgMS4zNC0zIDNjMCAuMjQuMDQuNDcuMDkuN2wtNy4wNSA0LjExYy0uNTQtLjUtMS4yNS0uODEtMi4wNC0uODEtMS42NiAwLTMgMS4zNC0zIDNzMS4zNCAzIDMgM2MuNzkgMCAxLjUtLjMxIDIuMDQtLjgxbDcuMTIgNC4xNmMtLjA1LjIxLS4wOC40My0uMDguNjUgMCAxLjYxIDEuMzEgMi45MiAyLjkyIDIuOTIgMS42MSAwIDIuOTItMS4zMSAyLjkyLTIuOTJzLTEuMzEtMi45Mi0yLjkyLTIuOTJ6Ii8+Cjwvc3ZnPgo=');
}


.ui-alt-icon.ui-icon-copy:after,
.ui-alt-icon .ui-icon-copy:after {
  border-radius: 0;
  background-image : url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRoLTI0eiIgZmlsbD0ibm9uZSIvPgogICAgPHBhdGggZD0iTTE2IDFoLTEyYy0xLjEgMC0yIC45LTIgMnYxNGgydi0xNGgxMnYtMnptMyA0aC0xMWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxMWMxLjEgMCAyLS45IDItMnYtMTRjMC0xLjEtLjktMi0yLTJ6bTAgMTZoLTExdi0xNGgxMXYxNHoiLz4KPC9zdmc+Cg==');
}

.ui-alt-icon.ui-icon-lock:after,
.ui-alt-icon .ui-icon-lock:after {
  border-radius    : 0;
  background-image : url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRoLTI0eiIgZmlsbD0ibm9uZSIvPgogICAgPHBhdGggZD0iTTE4IDhoLTF2LTJjMC0yLjc2LTIuMjQtNS01LTVzLTUgMi4yNC01IDV2MmgtMWMtMS4xIDAtMiAuOS0yIDJ2MTBjMCAxLjEuOSAyIDIgMmgxMmMxLjEgMCAyLS45IDItMnYtMTBjMC0xLjEtLjktMi0yLTJ6bS02LTUuMWMxLjcxIDAgMy4xIDEuMzkgMy4xIDMuMXYyaC02LjF2LTJoLS4xYzAtMS43MSAxLjM5LTMuMSAzLjEtMy4xem02IDE3LjFoLTEydi0xMGgxMnYxMHptLTYtM2MxLjEgMCAyLS45IDItMnMtLjktMi0yLTItMiAuOS0yIDIgLjkgMiAyIDJ6Ii8+Cjwvc3ZnPgo=');
}

.ui-alt-icon.ui-icon-lock-open:after,
.ui-alt-icon .ui-icon-lock-open:after {
  border-radius    : 0;
  background-image : url('images/lock-open.svg');
}

.ui-icon-refresh:after {
  border-radius    : 0;
  background-image : url('images/refresh.svg');
}

.ui-icon-menu:after {
  border-radius    : 0;
  background-image : url('images/menu.svg');
}

.ui-icon-notifoff:after {
  border-radius    : 0;
  background-image : url('images/notifoff.svg');
}

.ui-icon-notifon:after {
  border-radius    : 0;
  background-image : url('images/notifon.svg');
}