* {
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout    : none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust : none; /* prevent webkit from resizing text to fit */
  -webkit-user-select      : none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

.hidden,
.not-setup .poll-and-votes-area,
.not-setup .room-area,
.not-setup .hamburger,
.done-setup .setup-area,
.not-voted .poll-results-table tfoot,
.not-voted .poll-results-summary-table {
  display : none;
}

.poll-results-table tbody tr:nth-child(even) td {
  background-color : #eeeeee; /* non-RGBA fallback  */
  background-color : rgba(0, 0, 0, .04);
}

.num {
  text-align  : right !important;
  font-family : "Courier New", Courier, monospace;
}

.poll-results-table {
  counter-reset : rowNumber;
}

.poll-results-table tr {
  counter-increment : rowNumber;
}

.poll-results-table tr td:first-child::before {
  content      : counter(rowNumber) ".";
  min-width    : 1em;
  margin-right : 0.5em;
}