<?xml version='1.0' encoding='utf-8'?>
<widget id="com.votingthing.app" version="0.5.2" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Voting Thing</name>

    <description>Create polls and vote amongst friends.</description>

    <author email="contact@votingthing.com" href="http://www.votingthing.com">Jackson</author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="AndroidLaunchMode" value="singleTask"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#007035"/>

    <plugin name="com.borismus.webintent" spec="https://github.com/Initsogar/cordova-webintent.git"/>
    <plugin name="cordova-plugin-device" spec="^1.0.0"/>
    <plugin name="cordova-plugin-network-information" spec="^1.0.0"/>
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0"/>
    <plugin name="cordova-plugin-websocket" spec="^0.9.2"/>
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0"/>
    <plugin name="nl.x-services.plugins.socialsharing" spec="^4.3.18"/>
    <plugin name="nl.x-services.plugins.toast" spec="^2.0.4"/>
    <plugin name="com.phonegap.plugins.PushPlugin" spec="https://github.com/jacksonp/PushPlugin"/>
    
</widget>
