<?xml version='1.0' encoding='utf-8'?>
<widget id="com.votingthing.app" version="0.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Voting Thing</name>
    <description>
        Create polls and vote amongst friends.
    </description>
    <author email="contact@votingthing.com" href="http://www.votingthing.com">
        Jackson
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidLaunchMode" value="singleTask" />
</widget>
