.result-area table {
  margin-left  : auto;
  margin-right : auto;
}

.num {
  text-align  : right;
  font-family : "Courier New", Courier, monospace;
}

#again-button {
  display: none;
}

.new-vote-area {
  display: none;
}

#vote-button {
  /*background-color: #f98508;*/
  /*border-color: #884904;*/
}

.vote-instance-result-area {
  display: none;
}

.vote-instance-result-area table.not-voted td:nth-of-type(2),
.vote-instance-result-area table.not-voted th:nth-of-type(2) {
  display: none;
}