.hidden,
.not-setup .poll-and-votes-area,
.not-setup .room-area,
.not-setup .hamburger,
.done-setup .setup-area,
.vote-instance-result-area table.not-voted td:nth-of-type(2),
.vote-instance-result-area table.not-voted th:nth-of-type(2),
.vote-instance-result-area table.not-voted tfoot {
  display : none;
}

.vote-results-table tbody tr:nth-child(even) td,
.vote-results-table tbody tr:nth-child(even) th {
  background-color : #eeeeee; /* non-RGBA fallback  */
  background-color : rgba(0, 0, 0, .04);
}

.num {
  text-align  : right !important;
  font-family : "Courier New", Courier, monospace;
}

.vote-results-table {
  counter-reset : rowNumber;
}

.vote-results-table tr {
  counter-increment : rowNumber;
}

.vote-results-table tr td:first-child::before {
  content      : counter(rowNumber) ".";
  min-width    : 1em;
  margin-right : 0.5em;
}